{% if request.user.is_authenticated %}
    <nav class="navbar navbar-expand-lg sticky-top" style="background-color: green">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">EridonKharkiv</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'remains_page' %}">Залишки</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'home_page' %}">Заявки</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
          <li>
              <a class="nav-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Фільтри</a>
          </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Пошук" aria-label="Search">
        <button class="btn btn-outline-success btn-light btn-outline-dark" type="submit">Пошук</button>
      </form>
    </div>
  </div>
</nav>
{% else %}    
    <nav class="navbar navbar-expand-lg sticky-top" style="background-color: green">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">EridonKharkiv</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
{#        <li class="nav-item">#}
{#          <a class="nav-link active" aria-current="page" href="#">Home</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#          <a class="nav-link" href="{% url 'remains_page' %}">Залишки</a>#}
{#        </li>#}
{#          <li class="nav-item">#}
{#          <a class="nav-link" href="{% url 'home_page' %}">Заявки</a>#}
{#        </li>#}
{#        <li class="nav-item dropdown">#}
{#          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">#}
{#            Dropdown#}
{#          </a>#}
{#          <ul class="dropdown-menu">#}
{#            <li><a class="dropdown-item" href="#">Action</a></li>#}
{#            <li><a class="dropdown-item" href="#">Another action</a></li>#}
{#            <li><hr class="dropdown-divider"></li>#}
{#            <li><a class="dropdown-item" href="#">Something else here</a></li>#}
{#          </ul>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#          <a class="nav-link disabled" aria-disabled="true">Disabled</a>#}
{#        </li>#}
{#          <li>#}
{#              <a class="nav-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Фільтри</a>#}
{#          </li>#}
{#      </ul>#}
{#      <form class="d-flex" role="search">#}
{#        <input class="form-control me-2" type="search" placeholder="Пошук" aria-label="Search">#}
{#        <button class="btn btn-outline-success btn-light btn-outline-dark" type="submit">Пошук</button>#}
{#      </form>#}
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Авторизация</a>
        </li>
    </div>
  </div>
</nav>
{% endif %}
