{% extends 'EridonKh/index.html' %}

{% block content %}
    <br/>
    {% if request.user.is_authenticated %}
        <div class="container col-lg-6 col-md-10">
            <form action="{% url 'home_page' %}" method="get" class="d-flex" role="search">
                <input name="client_search" class="form-control me-2" type="search" placeholder="Пошук"
                       aria-label="Search">
                <button class="btn btn-outline-success btn-light btn-outline-dark" type="submit">Пошук</button>
            </form>
        </div>
        <br>
        <div class="container ">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <!-- Колонка клиентов -->
                    <table class="table table-striped table-hover table-bordered table-fixed">
                        <thead>
                        <tr>

                            <th scope="col">Контрагент</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for val in object_list %}
                            <tr>
                                <td onclick="window.location.href='{% url 'submissions' val.client %}'"> {{ val.client__client }}
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-2 col-md-6">
                    <!--Колонка дополнений-->
                    <table class="table table-striped table-hover table-bordered table-fixed">
                        <thead>
                        <tr>
                            <th scope="col">Номер доповнення</th>
                            <th scope="col">Діяльність</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for val in object_list %}
                            {% for submission in submissions %}
                                <tr>
                                    <td class="text-center" onclick="window.location.href='{% url 'submissions_prod' client=val.client cont_sub=submission.contract %}'">{{ submission.contract__contract_supplement }}</td>
                                    <td class="text-center">{{ submission.line_of_business__line_of_business }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-6 ">
                    <!--Колонка с товаром и количеством-->
                    <table class="table table-striped table-hover table-bordered table-fixed">
                        <thead>
                        <tr>
                            <th scope="col">Товар</th>
                            <th scope="col">Заплановано</th>
                            <th scope="col">Реалізовано</th>
                            <th scope="col">Залишилось</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr>
                                <td>{{ product.product__product }}</td>
                                <td class="text-center">{{ product.plan }}</td>
                                <td class="text-center">{{ product.fact }}</td>
                                <td class="text-center">{{ product.different }}</td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    {% else %}
        <div class="alert text-center alert-warning alert-dismissible fade show" role="alert">
            <strong>Для користування сервісами потрібно авторизуватися !!!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
{% endblock %}
