{% extends 'EridonKh/index.html' %}

{% block content %}
    <br/>
    {% if request.user.is_authenticated %}
        <div class="container ">
            <div class="row">
                <div class="col-4">
                    <table class="table table-striped table-hover table-bordered table-fixed">
                        <thead>
                        <tr>
                            {#            <th scope="col">Номер</th>#}
                            <th scope="col">Контрагент</th>
                            {#            <th scope="col">Менеджер</th>#}
                            {#            <th scope="col">Від діяльності</th>#}
                        </tr>
                        </thead>
                        <tbody>
                        {% for val in object_list %}
                            <tr>

                            {#            <td scope="row">{{ val.contract_supplement }}</td>#}
                            <td scope="row">{{ val.client }}</td>
                            {#            <td scope="row">{{ val.manager }}</td>#}
                            {#            <td scope="row">{{ val.line_of_business }}</td>#}


                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-2">
                    тут будут номера заявок
                </div>
            <div class="col-6">Тут будут товар и количество</div>
            </div>

        </div>
    {% else %}
        <div class="alert text-center alert-warning alert-dismissible fade show" role="alert">
            <strong>Для користування сервісами потрібно авторизуватися !!!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
{% endblock %}
