{% extends 'EridonKh/index.html' %}

{% block content %}
    <br/>
    {% if request.user.is_authenticated %}
        <div class="container ">
            <div class="row">
                <div class="col-4">
                    <table class="table table-striped table-hover table-bordered table-fixed">
                        <thead>
                        <tr>

                            <th scope="col">Контрагент</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for val in object_list %}
                            <tr>
                                <td onclick="window.location.href='{% url 'submissions' val.client %}'"> {{ val.client__client }}
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-2">
                    <table class="table table-striped table-hover table-bordered table-fixed">
                        <thead>
                        <tr>
                        <th scope="col">Номер доповнення</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for submission in submissions %}
                            <tr>
                            <td onclick="window.location.href='#'">{{ submission.contract_supplement }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-6">Тут будут товар и количество</div>
            </div>

        </div>
    {% else %}
        <div class="alert text-center alert-warning alert-dismissible fade show" role="alert">
            <strong>Для користування сервісами потрібно авторизуватися !!!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
{% endblock %}
